.container {
  background-color: #fff;

  padding: 20px;
 
  margin-top: 20px;
}

.box {
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

h1 {
  color: #6a7be9;
}

table {
  width: 60%;
}

th,
td {
  border-bottom: 1px solid #ddd;
}

th {
  height: 40px;;
  vertical-align: baseline;
}

td {
  height: 30px;
}


.left {
  text-align: right;
}